html {
  /* Everything in here will design the HTML element */
  background-color: #f2f1ed;
  font-family: Georgia, serif;
  line-height: 1.5;
}

h2, img {
  width: 100%;
  color: #5d8432;
}

li {
  font-weight: bold;
  font-size: 1.125rem;
  list-style-type: none;
  color: #793284;
}

li :hover {
  color: #b42885;
  text-decoration: underline;
}

h2, nav {
  font-family: "Patua One", cursive;
}

figure {
  font-style: italic;
  text-align: center;
  font-size: .8rem;
  line-height: 1.5625;
}

.something {
  font-size: 1rem;
}

h2 {
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #793284;
}
