html {
  /* Everything in here will design the HTML element */
  background-color: #f2f1ed;
  font-family: Georgia, serif;
  line-height: 1.5;
}

h2, img {
  width: 100%;
  color: #5d8432;
}

nav li {
  font-weight: bold;
  font-size: 1.125rem;
  list-style-type: none;
  color: #793284;
}

li :hover {
  color: #b42885;
}

h2, nav {
  font-family: "Patua One", cursive;
}

figure {
  font-style: italic;
  text-align: center;
  font-size: 1rem;
}
